#suggestions-table.tabulator {
    width: 100%;
    font-size: 1.2em;
    border: none;
    margin: 40px 0;
    background:transparent;
}

#suggestions-table.tabulator .pill-official {
    font-size: 12.5px;
    font-weight: 600;
    background-color: var(--primary);
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 10px;
    border-radius: 16px;
    color: var(--dark);
}

#suggestions-table.tabulator .tabulator-header {
    border-top: none;
    background-color: transparent;
}

#suggestions-table.tabulator .tabulator-sortable:nth-child(1) .tabulator-col-title {
    white-space: normal;
}

#suggestions-table.tabulator .tabulator-header .tabulator-col,
#suggestions-table.tabulator .tabulator-row .tabulator-cell {
    border-right: none;
    padding: 0 30px;
}

#suggestions-table.tabulator .tabulator-header .tabulator-col,
#suggestions-table.tabulator .tabulator-row,
#suggestions-table.tabulator .tabulator-footer {
    background-color: var(--dark);
    color: var(--light);
}

#suggestions-table.tabulator .tabulator-row {
    padding: 20px 0;
    border-bottom: 2px dashed var(--gray);
}

#suggestions-table.tabulator .tabulator-footer {
    border-top: none;
}

#suggestions-table.tabulator .tabulator-footer .tabulator-paginator {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#suggestions-table.tabulator .tabulator-footer .tabulator-page {
    padding: 10px 15px;
    background-color: var(--dark);
    color: var(--light);
}

#suggestions-table.tabulator .tabulator-footer .tabulator-page:hover {
    background-color: var(--light);
    color: var(--dark);
}

@media screen and (max-width:767px) {
    #suggestions-table.tabulator .tabulator-pages {
        display: block!important;
    }

    #suggestions-table.tabulator .tabulator-page[data-page="first"],
    #suggestions-table.tabulator .tabulator-page[data-page="last"] {
        display: none;
    }

    #suggestions-table.tabulator .tabulator-footer .tabulator-paginator {
        padding: 10px 0;
        flex-wrap: wrap;
    }

    #suggestions-table.tabulator .tabulator-header .tabulator-col,
    #suggestions-table.tabulator .tabulator-row .tabulator-cell {
        border-right: none;
        padding: 0 10px;
    }
}

@media screen and (max-width:480px) {
    #suggestions-table.tabulator {
        font-size: .9em;
    }

    #suggestions-table.tabulator .pill-official {
        font-size: 10px;
        padding: 2px 4px;
        margin-left: 8px;
    }
}